<form class="obsidian" autocomplete="off" data-obsidian-name="consumable">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Consumable'}}</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<input type="text" class="obsidian-input-compact" name="name"
				       value="{{item.name}}" placeholder="{{localize 'OBSIDIAN.Name'}}">
				<select name="flags.obsidian.subtype">
					{{#select item.flags.obsidian.subtype}}
						{{#each ObsidianRules.CONSUMABLE_TYPES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.ConsumableType-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
					       name="data.weight" data-dtype="Number" placeholder="0"
					       value="{{item.data.weight}}">
					<span>{{localize 'OBSIDIAN.Weight'}}</span>
				</label>
				<label class="obsidian-inline obsidian-label-icon">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
					       name="data.price" data-dtype="Number" placeholder="0"
					       value="{{item.data.price}}">
					<span>{{localize 'OBSIDIAN.Cost'}}</span>
					<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
				</label>
			</div>
		</div>
	</fieldset>
	{{> modules/obsidian/html/components/uses.html item.flags.obsidian.uses
			ObsidianRules=ObsidianRules}}
	{{> modules/obsidian/html/components/hit.html item.flags.obsidian.hit
			ObsidianRules=ObsidianRules consumable=true}}
	{{> modules/obsidian/html/components/dc.html item.flags.obsidian.dc
			ObsidianRules=ObsidianRules}}
	<fieldset data-prop="damage">
		<legend>{{localize 'OBSIDIAN.DamageHeal'}}</legend>
		{{> modules/obsidian/html/components/damage.html dmgs=item.flags.obsidian.damage
				prop='damage' consumable=true}}
	</fieldset>
	<div class="obsidian-rich-text">
		{{editor content=item.data.description.value button=false editable=false
		         target='data.description.value'}}
	</div>
</form>
