<form class="obsidian" autocomplete="off" data-obsidian-name="equipment">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Equipment'}}</legend>
		<div class="obsidian-form-row obsidian-inline obsidian-mixed-form-row">
			<div class="obsidian-fullwidth">
				<input class="obsidian-input-compact obsidian-input-lg" type="text" name="name"
				       placeholder="{{localize 'OBSIDIAN.Name'}}" value="{{item.name}}">
				<select name="flags.obsidian.subtype">
					{{#select item.flags.obsidian.subtype}}
						{{#each subtypes}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.ItemType-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="obsidian-form-row obsidian-inline obsidian-stacked-row obsidian-mixed-form-row">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
					       name="data.weight" data-dtype="Number" placeholder="0"
					       value="{{item.data.weight}}">
					<span>{{localize 'OBSIDIAN.Weight'}}</span>
				</label>
				<label class="obsidian-inline obsidian-label-icon">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
					       name="data.price" data-dtype="Number" placeholder="0"
					       value="{{item.data.price}}">
					<span>{{localize 'OBSIDIAN.Cost'}}</span>
					<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
				</label>
			</div>
		</div>
	</fieldset>
	<fieldset {{disabled (not item.flags.obsidian.armour)}}>
		<legend>
			{{fancy-checkbox 'flags.obsidian.armour' content='OBSIDIAN.ItemType-armour'
			                 checked=item.flags.obsidian.armour}}
		</legend>
		<div class="obsidian-form-row obsidian-inline obsidian-mixed-form-row">
			<div class="obsidian-fullwidth obsidian-checkbox-row">
				<select name="data.armor.type">
					{{#select item.data.armor.type}}
						{{#each ObsidianRules.ARMOUR_TYPES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.ArmourType-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       name="data.armor.value" value="{{item.data.armor.value}}" placeholder="0"
					       data-dtype="Number">
					<span>{{localize 'OBSIDIAN.ACAbbr'}}</span>
				</label>
				{{fancy-checkbox 'flags.obsidian.addDex' content='OBSIDIAN.AddDexMod'
				                 checked=item.flags.obsidian.addDex selector='add-dex'}}
				<label class="obsidian-inline" data-selector-parent="add-dex">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       name="flags.obsidian.maxDex" value="{{item.flags.obsidian.maxDex}}">
					<span>{{localize 'OBSIDIAN.Maximum'}}</span>
				</label>
			</div>
		</div>
		<div class="obsidian-form-row obsidian-inline obsidian-mixed-form-row obsidian-stacked-row">
			<div class="obsidian-checkbox-row">
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       name="data.strength" value="{{item.data.strength}}">
					<span>{{localize 'OBSIDIAN.MinStr'}}</span>
				</label>
				{{fancy-checkbox 'data.stealth' content='OBSIDIAN.StealthDisadvantage'
				                 checked=item.data.stealth}}
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       name="flags.obsidian.magic" value="{{item.flags.obsidian.magic}}"
					       placeholder="0" data-dtype="Number">
					<span>{{localize 'OBSIDIAN.MagicBonus'}}</span>
				</label>
			</div>
		</div>
	</fieldset>
	<label class="obsidian-label-lg">{{localize 'OBSIDIAN.Description'}}</label>
	<div class="obsidian-rich-text">
		{{editor content=item.data.description.value button=false editable=editable
		         target='data.description.value'}}
	</div>
</form>
