<form class="obsidian" autocomplete="off" data-obsidian-name="feature">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Feature'}}</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div style="width: 380px;">
				<input class="obsidian-input-compact obsidian-input-lg" type="text" name="name"
				       value="{{item.name}}" placeholder="{{localize 'OBSIDIAN.Feature'}}">
				<select name="flags.obsidian.active" data-selector="active">
					{{#select item.flags.obsidian.active}}
						{{#each ObsidianRules.FEAT_ACTIVE}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.FeatActive-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<select name="flags.obsidian.action" data-hide="passive" data-selector-parent="active">
					{{#select item.flags.obsidian.action}}
						{{#each ObsidianRules.FEAT_ACTION}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.FeatAction-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.Source'}}
					<select name="flags.obsidian.source.type" class="obsidian-feat-source"
					        data-selector="action">
						{{#select item.flags.obsidian.source.type}}
							{{#each ObsidianRules.FEAT_SOURCE_TYPES}}
								<option value="{{this}}">{{i18n-join 'OBSIDIAN.FeatSrc-' this}}</option>
							{{/each}}
						{{/select}}
					</select>
				</label>
				<select name="flags.obsidian.source.class" data-show="class" data-selector-parent="action"
				        data-selector="class">
					{{#select item.flags.obsidian.source.class}}
						{{#if actor}}
							{{#each actor.data.obsidian.classes}}
								<option value="{{flags.obsidian.uuid}}">{{flags.obsidian.label}}</option>
							{{/each}}
						{{else}}
							{{#each ObsidianRules.CLASSES}}
								<option value="{{this}}">{{i18n-join 'OBSIDIAN.Class-' this}}</option>
							{{/each}}
						{{/if}}
					{{/select}}
				</select>
				<input type="text" name="flags.obsidian.source.other" data-selector-parent="action"
				       placeholder="{{localize 'OBSIDIAN.Source'}}" data-show="other"
				       class="obsidian-input-compact obsidian-input-lg"
				       value="{{item.flags.obsidian.source.other}}">
				{{#if (eq item.flags.obsidian.source.type 'class')}}
				<input type="text" name="flags.obsidian.source.custom" data-selector-parent="class"
				       placeholder="{{localize 'OBSIDIAN.Class'}}" data-show="custom"
				       class="obsidian-input-compact obsidian-input-lg"
				       value="{{item.flags.obsidian.source.custom}}">
				{{/if}}
			</div>
		</div>
	</fieldset>
	{{> modules/obsidian/html/components/hit.html item.flags.obsidian.hit feature=true
			ObsidianRules=ObsidianRules}}
	<fieldset {{disabled (not item.flags.obsidian.uses.enabled)}}>
		<legend>
			{{fancy-checkbox 'flags.obsidian.uses.enabled' content='OBSIDIAN.Uses'
			                 checked=item.flags.obsidian.uses.enabled}}
		</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div>
				{{#if actor}}
				<select name="flags.obsidian.uses.type" data-selector="uses-type" data-recalculate="true">
					{{#select item.flags.obsidian.uses.type}}
						<option value="formula">{{localize 'OBSIDIAN.Formula'}}</option>
						<option value="shared">{{localize 'OBSIDIAN.Shared'}}</option>
					{{/select}}
				</select>
				<select name="flags.obsidian.uses.shared" data-selector-parent="uses-type"
				        data-show="shared" data-dtype="Number">
					{{#select item.flags.obsidian.uses.shared}}
						{{#each actor.data.feats}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					{{/select}}
				</select>
				{{else}}
				<input type="hidden" name="flags.obsidian.uses.type" value="formula">
				{{/if}}
				<select name="flags.obsidian.uses.recharge">
					{{#select item.flags.obsidian.uses.recharge}}
						<option value="short">{{localize 'OBSIDIAN.ShortRest'}}</option>
						<option value="long">{{localize 'OBSIDIAN.LongRest'}}</option>
					{{/select}}
				</select>
			</div>
		</div>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row"
		     {{#if actor}}data-selector-parent="uses-type" data-show="formula"{{/if}}>
			<div>
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       data-dtype="Number" placeholder="0" value="{{item.flags.obsidian.uses.bonus}}"
				       name="flags.obsidian.uses.bonus">
				<select name="flags.obsidian.uses.operator" class="obsidian-select-operator">
					{{#select item.flags.obsidian.uses.operator}}
						<option value="plus">&plus;</option>
						<option value="mult">&times;</option>
					{{/select}}
				</select>
				<select name="flags.obsidian.uses.key" data-selector="uses-key">
					{{#select item.flags.obsidian.uses.key}}
						<option value="">&mdash;</option>
						{{#each ObsidianRules.FEAT_USES_KEYS}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.UsesKey-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<select name="flags.obsidian.uses.ability" data-show="abl" data-selector-parent="uses-key">
					{{#select item.flags.obsidian.uses.ability}}
						{{#each ObsidianRules.ABILITIES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				{{#if actor}}
				<select name="flags.obsidian.uses.class" data-show="cls" data-selector-parent="uses-key">
					{{#select item.flags.obsidian.uses.class}}
						{{#each actor.data.obsidian.classes}}
							<option value="{{flags.obsidian.uuid}}">{{flags.obsidian.label}}</option>
						{{/each}}
					{{/select}}
				</select>
				{{/if}}
			</div>
		</div>
		<div class="obsidian-form-row obsidian-stacked-row" data-selector-parent="uses-type"
		     data-show="formula">
			<div class="obsidian-checkbox-row">
				<label>
					<input type="text" name="flags.obsidian.uses.min" placeholder="0" data-dtype="Number"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       value="{{item.flags.obsidian.uses.min}}">
					<span>{{localize 'OBSIDIAN.Minimum'}}</span>
				</label>
				<label>
					<input type="text" name="flags.obsidian.uses.fixed"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       value="{{item.flags.obsidian.uses.fixed}}">
					<span>{{localize 'OBSIDIAN.Fixed'}}</span>
				</label>
			</div>
		</div>
	</fieldset>
	{{> modules/obsidian/html/components/dc.html item.flags.obsidian.dc
			ObsidianRules=ObsidianRules}}
	<fieldset data-prop="damage">
		<legend>{{localize 'OBSIDIAN.DamageHeal'}}</legend>
		{{> modules/obsidian/html/components/damage.html dmgs=item.flags.obsidian.damage
				prop='damage' feature=true}}
	</fieldset>
	<label class="obsidian-label-lg">{{localize 'OBSIDIAN.Description'}}</label>
	<div class="obsidian-rich-text">
		{{editor content=item.data.description.value button=false editable=editable
		         target='data.description.value'}}
	</div>
</form>
