<form class="obsidian" autocomplete="off" data-obsidian-name="spell">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Spell'}}</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div class="obsidian-checkbox-row obsidian-fullwidth">
				<input class="obsidian-input-compact obsidian-input-lg" type="text" name="name"
				       value="{{item.name}}" placeholder="{{localize 'OBSIDIAN.Name'}}">
				<select name="data.school">
					{{#select data.school}}
						{{#each ObsidianRules.SPELL_SCHOOLS}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.SpellSchool-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.Level'}}
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       value="{{data.level}}" name="data.level" data-dtype="Number">
				</label>
				{{fancy-checkbox 'data.components.ritual' content='OBSIDIAN.Ritual'
				                 checked=data.components.ritual}}
			</div>
		</div>
		{{#if actor}}
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.Source'}}
					<select name="flags.obsidian.source.type" data-selector="source">
						{{#select item.flags.obsidian.source.type}}
							<option value="class">{{localize 'OBSIDIAN.Class'}}</option>
							<option value="feat">{{localize 'OBSIDIAN.Feature'}}</option>
							<option value="item">{{localize 'OBSIDIAN.Item'}}</option>
							<option value="custom">{{localize 'OBSIDIAN.Custom'}}</option>
						{{/select}}
					</select>
				</label>
				<select name="flags.obsidian.source.class" data-show="class" data-selector-parent="source">
					{{#select item.flags.obsidian.source.class}}
						{{#each actor.data.obsidian.classes}}
							<option value="{{flags.obsidian.uuid}}">{{flags.obsidian.label}}</option>
						{{/each}}
					{{/select}}
				</select>
				<select name="flags.obsidian.source.feat" data-show="feat" data-selector-parent="source"
				        data-dtype="Number">
					{{#select item.flags.obsidian.source.feat}}
						{{#each actor.data.feats}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					{{/select}}
				</select>
				<select name="flags.obsidian.source.item" data-show="item" data-selector-parent="source"
				        data-dtype="Number">
					{{#select item.flags.obsidian.source.item}}
						{{#each actor.data.obsidian.magicalItems}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					{{/select}}
				</select>
				<input type="text" name="flags.obsidian.source.custom" data-selector-parent="source"
				       placeholder="{{localize 'OBSIDIAN.Source'}}" data-show="custom"
				       class="obsidian-input-compact obsidian-input-lg"
				       value="{{item.flags.obsidian.source.custom}}">
			</div>
		</div>
		{{/if}}
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.CastTime'}}
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       name="flags.obsidian.time.n" placeholder="1" data-selector-parent="cast-time"
					       value="{{item.flags.obsidian.time.n}}" data-hide="special">
				</label>
				<select name="flags.obsidian.time.type" data-selector="cast-time">
					{{#select item.flags.obsidian.time.type}}
						{{#each ObsidianRules.SPELL_CAST_TIMES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.CastTime-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<input type="text" class="obsidian-input-compact obsidian-input-lg" data-show="react"
				       value="{{item.flags.obsidian.time.react}}" data-selector-parent="cast-time"
				       placeholder="{{localize 'OBSIDIAN.CastTime-react'}}" style="max-width: 280px;"
				       name="flags.obsidian.time.react">
			</div>
		</div>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.Range'}}
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
					       name="flags.obsidian.range.n" value="{{item.flags.obsidian.range.n}}"
					       data-dtype="Number" data-selector-parent="range" data-show="short, long">
				</label>
				<select name="flags.obsidian.range.type" data-selector="range">
					{{#select item.flags.obsidian.range.type}}
						{{#each ObsidianRules.SPELL_RANGES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.SpellRange-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
			<div class="obsidian-fullwidth obsidian-checkbox-row">
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.Duration'}}
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       data-dtype="Number" data-selector-parent="duration"
					       data-show="round, min, hour, day" name="flags.obsidian.duration.n"
					       value="{{item.flags.obsidian.duration.n}}">
				</label>
				<select name="flags.obsidian.duration.type" data-selector="duration">
					{{#select item.flags.obsidian.duration.type}}
						{{#each ObsidianRules.SPELL_DURATIONS}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.Duration-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				{{fancy-checkbox 'data.components.concentration' content='OBSIDIAN.Concentration'
				                 checked=data.components.concentration selectorParent='duration'
				                 show='round, min, hour, day'}}
			</div>
		</div>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
			<div class="obsidian-fullwidth obsidian-checkbox-row">
				{{fancy-checkbox 'flags.obsidian.components.v' content='OBSIDIAN.VerbalAbbr'
                         checked=item.flags.obsidian.components.v}}
				{{fancy-checkbox 'flags.obsidian.components.s' content='OBSIDIAN.SomaticAbbr'
				                 checked=item.flags.obsidian.components.s}}
				{{fancy-checkbox 'flags.obsidian.components.r' content='OBSIDIAN.RoyaltyAbbr'
				                 checked=item.flags.obsidian.components.r}}
				{{fancy-checkbox 'flags.obsidian.components.m' content='OBSIDIAN.MaterialAbbr'
				                 checked=item.flags.obsidian.components.m}}
				<input type="text" class="obsidian-input-compact obsidian-input-lg"
				       name="data.materials.value" value="{{data.materials.value}}"
				       style="max-width: 310px;" placeholder="{{localize 'OBSIDIAN.Materials'}}">
			</div>
		</div>
	</fieldset>
	{{#if actor}}
		{{> modules/obsidian/html/components/uses.html item.flags.obsidian.uses spell=true
				ObsidianRules=ObsidianRules}}
	{{/if}}
	{{> modules/obsidian/html/components/hit.html item.flags.obsidian.hit spell=true
			actor=actor ObsidianRules=ObsidianRules}}
	{{> modules/obsidian/html/components/dc.html item.flags.obsidian.dc spell=true actor=actor
			ObsidianRules=ObsidianRules}}
	<fieldset data-prop="damage">
		<legend>{{localize 'OBSIDIAN.DamageHeal'}}</legend>
		{{> modules/obsidian/html/components/damage.html dmgs=item.flags.obsidian.damage
				prop='damage' spell=true}}
	</fieldset>
	<fieldset data-prop="upcast.damage" {{disabled (or (lt item.data.level 1) (not item.flags.obsidian.upcast.enabled))}}>
		<legend>
			{{#if (gt item.data.level 0)}}
				{{fancy-checkbox 'flags.obsidian.upcast.enabled' content='OBSIDIAN.AtHigherLevels'
				                 checked=item.flags.obsidian.upcast.enabled}}
			{{else}}
				{{localize 'OBSIDIAN.CantripScaling'}}
			{{/if}}
		</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       data-dtype="Number" name="flags.obsidian.upcast.natk" placeholder="0"
					       value="{{item.flags.obsidian.upcast.natk}}">
					<span>{{localize 'OBSIDIAN.Attacks'}}</span>
				</label>
				{{#if (gt item.data.level 0)}}
				<span class="obsidian-binary-operator">&sol;</span>
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       placeholder="1" name="flags.obsidian.upcast.nlvl"
					       value="{{item.flags.obsidian.upcast.nlvl}}">
					<span>{{localize 'OBSIDIAN.Level'}}</span>
				</label>
				{{/if}}
			</div>
		</div>
		<label class="obsidian-label-lg obsidian-stacked-row obsidian-inline">
			{{localize 'OBSIDIAN.DamageLevel'}}
		</label>
		{{> modules/obsidian/html/components/damage.html dmgs=item.flags.obsidian.upcast.damage
				prop='upcast.damage' spell=true}}
	</fieldset>
	<label class="obsidian-label-lg">{{localize 'OBSIDIAN.Description'}}</label>
	<div class="obsidian-rich-text">
		{{editor content=item.data.description.value button=false editable=editable
		         target='data.description.value'}}
	</div>
</form>
