<form class="obsidian" autocomplete="off" data-obsidian-name="weapon">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Weapon'}}</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<input class="obsidian-input-compact obsidian-input-lg" type="text"
				       name="name" placeholder="{{localize 'OBSIDIAN.Attack'}}" value="{{item.name}}">
				<select name="flags.obsidian.category">
					{{#select item.flags.obsidian.category}}
						{{#each ObsidianRules.WEAPON_CATEGORIES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.WeaponCat-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<select name="flags.obsidian.type" class="obsidian-attack-type">
					{{#select item.flags.obsidian.type}}
						{{#each ObsidianRules.ATTACK_TYPES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.AttackType-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       name="flags.obsidian.magic" placeholder="0" data-dtype="Number"
					       value="{{item.flags.obsidian.magic}}">
					<span>{{localize 'OBSIDIAN.MagicBonus'}}</span>
				</label>
			</div>
		</div>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline obsidian-stacked-row">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
					       name="data.weight" data-dtype="Number" placeholder="0"
					       value="{{item.data.weight}}">
					<span>{{localize 'OBSIDIAN.Weight'}}</span>
				</label>
				<label class="obsidian-inline obsidian-label-icon">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
					       name="data.price" data-dtype="Number" placeholder="0"
					       value="{{item.data.price}}">
					<span>{{localize 'OBSIDIAN.Cost'}}</span>
					<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
				</label>
			</div>
		</div>
		<div class="
			{{#unless (or item.flags.obsidian.tags.thrown (eq item.flags.obsidian.type 'ranged'))~}}
				obsidian-hidden
			{{~/unless}} obsidian-form-row obsidian-range-row obsidian-inline obsidian-stacked-row">
			<div>
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.Range'}}
					<input type="text" name="flags.obsidian.range1"
					       data-dtype="Number" value="{{item.flags.obsidian.range1}}" placeholder="0"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-md">
				</label>
				<span class="obsidian-binary-operator">&sol;</span>
				<input type="text" name="flags.obsidian.range2" placeholder="0"
				       data-dtype="Number" value="{{item.flags.obsidian.range2}}"
				       class="obsidian-input-compact obsidian-input-num obsidian-input-num-md">
			</div>
		</div>
	</fieldset>
	{{> modules/obsidian/html/components/hit.html item.flags.obsidian.hit
			ObsidianRules=ObsidianRules}}
	{{> modules/obsidian/html/components/dc.html item.flags.obsidian.dc
			ObsidianRules=ObsidianRules}}
	{{> modules/obsidian/html/components/charges.html item.flags.obsidian.charges
			ObsidianRules=ObsidianRules}}
	<fieldset data-prop="damage">
		<legend>{{localize 'OBSIDIAN.Damage'}}</legend>
		{{> modules/obsidian/html/components/damage.html dmgs=item.flags.obsidian.damage
				prop='damage'}}
	</fieldset>
	<fieldset class="{{#if (not item.flags.obsidian.tags.versatile)}}
		obsidian-hidden
	{{/if}} obsidian-versatile-block" data-prop="versatile">
		<legend>{{localize 'OBSIDIAN.VersatileDamage'}}</legend>
		{{> modules/obsidian/html/components/damage.html dmgs=item.flags.obsidian.versatile
				prop='versatile'}}
	</fieldset>
	<fieldset>
		<legend>{{localize 'OBSIDIAN.SpecialProperties'}}</legend>
		{{#each item.flags.obsidian.special as |row id|}}
			<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline" data-item-id="{{id}}">
				<div style="width: 350px;">
					<input type="text" class="obsidian-input-compact obsidian-input-lg" value="{{row.name}}"
					       placeholder="{{localize 'OBSIDIAN.Name'}}"
					       name="flags.obsidian.special.{{id}}.name">
					<label class="obsidian-inline">
						<input type="text" value="{{row.uses.max}}" placeholder="0" data-dtype="Number"
						       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
						       name="flags.obsidian.special.{{id}}.uses.max">
						<span>{{localize 'OBSIDIAN.Uses'}}</span>
					</label>
				</div>
				<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-special">
					{{localize 'OBSIDIAN.Remove'}}
				</button>
			</div>
		{{/each}}
		<div class="obsidian-form-row obsidian-btn-row" style="justify-content: flex-end;">
			<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-special">
				{{localize 'OBSIDIAN.Add'}}
			</button>
		</div>
	</fieldset>
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Tags'}}</legend>
		{{#each item.flags.obsidian.tags}}
			{{#if (eq @key 'custom')}}
				{{#each this}}
					{{> modules/obsidian/html/components/tag-dropdown.html tag='custom' custom=this
							ObsidianRules=@root.ObsidianRules}}
				{{/each}}
			{{else if this}}
				{{> modules/obsidian/html/components/tag-dropdown.html tag=@key custom=''
						ObsidianRules=../ObsidianRules}}
			{{/if}}
		{{/each}}
		<div class="obsidian-form-row obsidian-btn-row" style="justify-content: flex-end;">
			<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-tag">
				{{localize 'OBSIDIAN.Add'}}
			</button>
		</div>
	</fieldset>
	<label class="obsidian-label-lg">{{localize 'OBSIDIAN.Description'}}</label>
	<div class="obsidian-rich-text">
		{{editor content=item.data.description.value button=false editable=editable
		         target='data.description.value'}}
	</div>
</form>
