@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Roboto-Italic.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/RobotoCondensed-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: magic;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SchoolsOfMagic.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NotoSansJP-Bold.otf') format('opentype');
}
