.obsidian-icon {
	width: 20px;
	height: 20px;
	background: 50% transparent no-repeat;
	background-size: 20px 20px;
}

.obsidian-icon-sm {
	width: 16px;
	height: 16px;
	background: 50% transparent no-repeat;
	background-size: 16px 16px;
	margin-left: 5px;
}

.obsidian-icon-flag {
	width: 14px;
	height: 14px;
	background: 50% transparent no-repeat;
	background-size: 14px 14px;
}

.obsidian-icon-melee {
	background-image: url('../img/melee.svg');
}

.obsidian-icon-ranged {
	background-image: url('../img/ranged.svg');
}

.obsidian-icon-unarmed {
	background-image: url('../img/unarmed.svg');
}

.obsidian-icon-versatile {
	background-image: url('../img/versatile.svg');
}

.obsidian-icon-blg {
	background-image: url('../img/bludgeoning.svg');
}

.obsidian-icon-prc {
	background-image: url('../img/piercing.svg');
}

.obsidian-icon-slh {
	background-image: url('../img/slashing.svg');
}

.obsidian-icon-acd {
	background-image: url('../img/acid.svg');
}

.obsidian-icon-cld {
	background-image: url('../img/cold.svg');
}

.obsidian-icon-fir {
	background-image: url('../img/fire.svg');
}

.obsidian-icon-frc {
	background-image: url('../img/force.svg');
}

.obsidian-icon-lig {
	background-image: url('../img/lightning.svg');
}

.obsidian-icon-ncr {
	background-image: url('../img/necrotic.svg');
}

.obsidian-icon-psn {
	background-image: url('../img/poison.svg');
}

.obsidian-icon-psy {
	background-image: url('../img/psychic.svg');
}

.obsidian-icon-rad {
	background-image: url('../img/radiant.svg');
}

.obsidian-icon-thn {
	background-image: url('../img/thunder.svg');
}

.obsidian-icon-hlg {
	background-image: url('../img/healing.svg');
}

.obsidian-icon-concentration {
	background-image: url('../img/concentration.svg');
}

.obsidian-icon-ritual {
	background-image: url('../img/ritual.svg');
}

.obsidian-icon-cp {
	background-image: url('../img/copper.png');
}

.obsidian-icon-sp {
	background-image: url('../img/silver.png');
}

.obsidian-icon-ep {
	background-image: url('../img/electrum.png');
}

.obsidian-icon-gp {
	background-image: url('../img/gold.png');
}

.obsidian-icon-pp {
	background-image: url('../img/platinum.png');
}

.obsidian-icon-amulet {
	background-image: url('../img/amulet.svg');
}

.obsidian-icon-armour {
	background-image: url('../img/armour.svg');
}

.obsidian-icon-belt {
	background-image: url('../img/belt.svg');
}

.obsidian-icon-boots {
	background-image: url('../img/boots.svg');
}

.obsidian-icon-bracers {
	background-image: url('../img/bracers.svg');
}

.obsidian-icon-cloak {
	background-image: url('../img/cloak.svg');
}

.obsidian-icon-consumable {
	background-image: url('../img/consumable.svg');
}

.obsidian-icon-gauntlet {
	background-image: url('../img/gauntlet.svg');
}

.obsidian-icon-helm {
	background-image: url('../img/helm.svg');
}

.obsidian-icon-ring {
	background-image: url('../img/ring.svg');
}

.obsidian-icon-tool {
	background-image: url('../img/tool.svg');
}

.obsidian-icon-weapon {
	background-image: url('../img/weapon.svg');
}

.obsidian-icon-gear {
	background-image: url('../img/gear.svg');
}

.obsidian-spell-school {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: magic, sans-serif;
	color: var(--text-regular);
}

.obsidian-spell-school-abj:before {
	content: 'A';
}

.obsidian-spell-school-con:before {
	content: 'C';
}

.obsidian-spell-school-div:before {
	content: 'D';
}

.obsidian-spell-school-enc:before {
	content: 'E';
}

.obsidian-spell-school-ill:before {
	content: 'I';
}

.obsidian-spell-school-trs:before {
	content: 'T';
}

.obsidian-spell-school-evo:before {
	content: 'V';
}

.obsidian-spell-school-nec:before {
	content: 'N';
}

.obsidian-css-icon {
	position: relative;
}

.obsidian-css-icon-sm {
	transform: scale(.7);
}

.obsidian-css-icon-label {
	position: absolute;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.obsidian-css-icon-positive .obsidian-css-icon-label {
	color: var(--bg);
}

.obsidian-css-icon-negative .obsidian-css-icon-label {
	color: var(--text-regular);
}

.obsidian-css-icon-hexagon,
.obsidian-css-icon-hexagon .obsidian-css-icon-shape,
.obsidian-css-icon-hexagon .obsidian-css-icon-label {
	width: 20px;
	height: 12px;
}

.obsidian-css-icon-diamond,
.obsidian-css-icon-diamond .obsidian-css-icon-label {
	width: 20px;
	height: 19px;
}

.obsidian-css-icon-shape {
	position: relative;
}

.obsidian-css-icon-shape:before,
.obsidian-css-icon-shape:after {
	content: '';
	position: absolute;
}

.obsidian-css-icon-hexagon .obsidian-css-icon-shape:before {
	top: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 5px solid transparent;
}

.obsidian-css-icon-hexagon .obsidian-css-icon-shape:after {
	bottom: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 5px solid transparent;
}

.obsidian-css-icon-diamond .obsidian-css-icon-shape {
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	height: 0;
	width: 10px;
	box-sizing: content-box;
}

.obsidian-css-icon-diamond .obsidian-css-icon-shape:after {
	top: 5px;
	left: -5px;
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.obsidian-css-icon-positive.obsidian-css-icon-hexagon {
	background: var(--positive);
}

.obsidian-css-icon-negative.obsidian-css-icon-hexagon {
	background: var(--negative);
}

.obsidian-css-icon-hexagon.obsidian-css-icon-positive .obsidian-css-icon-shape:before {
	border-bottom-color: var(--positive);
}

.obsidian-css-icon-hexagon.obsidian-css-icon-positive .obsidian-css-icon-shape:after {
	border-top-color: var(--positive);
}

.obsidian-css-icon-hexagon.obsidian-css-icon-negative .obsidian-css-icon-shape:before {
	border-bottom-color: var(--negative);
}

.obsidian-css-icon-hexagon.obsidian-css-icon-negative .obsidian-css-icon-shape:after {
	border-top-color: var(--negative);
}

.obsidian-css-icon-diamond.obsidian-css-icon-positive .obsidian-css-icon-shape {
	border-bottom-color: var(--positive);
}

.obsidian-css-icon-diamond.obsidian-css-icon-positive .obsidian-css-icon-shape:after {
	border-top-color: var(--positive);
}

.obsidian-css-icon-diamond.obsidian-css-icon-negative .obsidian-css-icon-shape {
	border-bottom-color: var(--negative);
}

.obsidian-css-icon-diamond.obsidian-css-icon-negative .obsidian-css-icon-shape:after {
	border-top-color: var(--negative);
}
