<div class="obsidian-tab-contents tab" data-group="actions-tabs" data-tab="attacks">
	<h3>
		{{localize 'OBSIDIAN.Attacks'}}
		<a title="{{localize 'OBSIDIAN.AddCustom'}}" class="obsidian-edit obsidian-add-attack">
			{{localize 'OBSIDIAN.AddCustom'}}
		</a>
	</h3>
	<div class="obsidian-table">
		<div class="obsidian-thead">
			{{#if (not-empty actor.obsidian.weapons)}}
				<div class="obsidian-col-icon"></div>
				<div class="obsidian-col-attack">{{localize 'OBSIDIAN.Attack'}}</div>
				<div class="obsidian-col-range">{{localize 'OBSIDIAN.Range'}}</div>
				<div class="obsidian-col-hit">{{localize 'OBSIDIAN.HitDC'}}</div>
				<div class="obsidian-col-damage">{{localize 'OBSIDIAN.Damage'}}</div>
				<div class="obsidian-col-notes">{{localize 'OBSIDIAN.Notes'}}</div>
			{{else}}
				<div class="obsidian-col-empty">{{localize 'OBSIDIAN.Empty'}}</div>
			{{/if}}
		</div>
		<div class="obsidian-tbody">
			{{#each actor.obsidian.weapons}}
				<div class="obsidian-tr item" data-item-id="{{id}}" data-name="{{name}}">
					<div class="obsidian-col-icon">
						<div class="
								{{~#if (is-attack-toggleable this)~}}
									obsidian-attack-toggle
								{{~/if}} obsidian-icon obsidian-icon-{{flags.obsidian.mode}}"
						     data-item-id="{{id}}">
						</div>
					</div>
					<div class="obsidian-col-attack">
						<div class="obsidian-table-text rollable" data-roll="atk" data-atk="{{id}}">
							{{name}}
						</div>
						<div class="obsidian-table-sub-text">{{localize flags.obsidian.attackType}}</div>
					</div>
					<div class="obsidian-col-range">
						{{#if (eq flags.obsidian.mode 'ranged')}}
							<div class="obsidian-table-number-md">
								<div>
									{{flags.obsidian.range1}}
									<span class="obsidian-table-number-split">/</span>
								</div>
								<div>
									<span class="obsidian-table-number-minor">{{flags.obsidian.range2}}</span>
									<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
								</div>
							</div>
						{{else}}
							<div class="obsidian-table-number-md">
								{{flags.obsidian.reach}}
								<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
							</div>
							<div class="obsidian-table-sub-text">{{localize 'OBSIDIAN.Reach'}}</div>
						{{/if}}
					</div>
					<div class="obsidian-col-hit">
						<div class="obsidian-table-number-lg">
							{{#if flags.obsidian.hit.enabled}}
								{{numberFormat flags.obsidian.hit.value decimals=0 sign=true}}
							{{else if flags.obsidian.dc.enabled}}
								<div class="obsidian-table-sub-text obsidian-table-save">
									{{i18n-join 'OBSIDIAN.AbilityAbbr-' flags.obsidian.dc.target}}
								</div>
								<div class="obsidian-table-number-md">{{flags.obsidian.dc.value}}</div>
							{{else}}
								<span class="obsidian-na">&mdash;</span>
							{{/if}}
						</div>
					</div>
					<div class="obsidian-col-damage">
						<div class="obsidian-table-dmg">
							{{#each (which-damage this)}}
								<div class="obsidian-dmg-component">
									{{display}}
									<div class="obsidian-icon-sm obsidian-icon-{{type}}"
									     title="{{i18n-join 'OBSIDIAN.Damage-' type}}"></div>
								</div>
							{{/each}}
						</div>
					</div>
					<div class="obsidian-col-notes">
						{{> modules/obsidian/html/components/weapon-notes.html}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>
