<div class="obsidian-tab-container tab" data-group="main-tabs" data-tab="equipment">
	<div class="obsidian-char-inv-header">
		<div class="obsidian-char-inv-header-weight">
			<div>
				{{localize 'OBSIDIAN.WeightCarried'}}:
				<span>{{numberFormat actor.obsidian.inventory.weight decimals=2}}</span>
				<span class="obsidian-table-unit">{{localize 'OBSIDIAN.PoundsAbbr'}}</span>
			</div>
			<div{{#if actor.obsidian.inventory.encumbered}} class="obsidian-negative"{{/if}}>
				{{#if actor.obsidian.inventory.encumbered}}
					{{localize 'OBSIDIAN.OverCapacity'}}
				{{else}}
					{{localize 'OBSIDIAN.Unencumbered'}}
				{{/if}}
			</div>
		</div>
		<div class="obsidian-char-inv-header-currency" data-dialog="Currency">
			{{localize 'OBSIDIAN.Currency'}}:
			{{#each data.currency}}
				<div class="obsidian-char-inv-header-currency-item">
					<i class="obsidian-icon obsidian-icon-sm obsidian-icon-{{@key}}"></i>
					{{number-format this}}
				</div>
			{{/each}}
		</div>
	</div>
	<div class="obsidian-char-inv-search">
		<div class="obsidian-input-search-container">
			<input type="text" class="obsidian-input-search obsidian-search-inv-name"
			       placeholder="{{localize 'OBSIDIAN.Search'}}...">
			<i class="fas fa-search"></i>
			<span class="obsidian-clear-search obsidian-clear-inv-name">&times;</span>
		</div>
	</div>
	<ul class="obsidian-tab-bar" data-group="equipment">
		<li class="obsidian-sub-tab item" data-tab="equipment-all">{{localize 'OBSIDIAN.All'}}</li>
		<li class="obsidian-sub-tab item" data-tab="equipment-magical">
			{{localize 'OBSIDIAN.Magical'}}
		</li>
		<li class="obsidian-sub-tab item" data-tab="equipment-weapon">
			{{localize 'OBSIDIAN.Weapons'}}
		</li>
		<li class="obsidian-sub-tab item" data-tab="equipment-armour">
			{{localize 'OBSIDIAN.Armour'}}
		</li>
		<li class="obsidian-sub-tab item" data-tab="equipment-consumable">
			{{localize 'OBSIDIAN.Consumables'}}
		</li>
		<li class="obsidian-sub-tab item" data-tab="equipment-other">{{localize 'OBSIDIAN.Other'}}</li>
	</ul>
	<div class="obsidian-tab-contents obsidian-inv-table tab">
		<div class="obsidian-drag-indicator">
			<i class="fas fa-angle-right"></i>
			<i class="fas fa-angle-left"></i>
		</div>
		<h3>
			{{localize 'OBSIDIAN.Inventory'}}
			<a title="{{localize 'OBSIDIAN.AddCustom'}}" class="obsidian-add-custom-item">
				{{localize 'OBSIDIAN.AddCustom'}}
			</a>
		</h3>
		<div class="obsidian-table">
			<div class="obsidian-thead">
				<div class="obsidian-col-action"></div>
				<div class="obsidian-col-inv-item">{{localize 'OBSIDIAN.Name'}}</div>
				<div class="obsidian-col-weight">{{localize 'OBSIDIAN.Weight'}}</div>
				<div class="obsidian-col-qty">{{localize 'OBSIDIAN.QuantityAbbr'}}</div>
				<div class="obsidian-col-cost">
					{{localize 'OBSIDIAN.Cost'}}
					<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
				</div>
				<div class="obsidian-col-type">{{localize 'OBSIDIAN.Type'}}</div>
				<div class="obsidian-col-notes">{{localize 'OBSIDIAN.Notes'}}</div>
			</div>
			<div class="obsidian-tbody">
				{{> modules/obsidian/html/components/inventory.html actor.obsidian.inventory.root}}
				{{#each actor.obsidian.inventory.containers}}
					<details{{#if flags.obsidian.open}} open{{/if}}>
						<summary draggable="true" data-reorderable="true" class="
						{{~#if (gt flags.obsidian.carriedWeight flags.obsidian.capacity)~}}
							obsidian-negative
						{{~/if}} obsidian-inv-container" data-item-id="{{id}}">
							<div>
								<h3>{{name}}</h3>
								<div class="obsidian-details-sub-text">
									&bull; {{numberFormat flags.obsidian.carriedWeight decimals=2}}
								</div>
								<div class="obsidian-table-sub-text">{{localize 'OBSIDIAN.PoundsAbbr'}}</div>
							</div>
							<div>
								{{#each flags.obsidian.currency}}
								{{#if this}}
									<div class="obsidian-char-inv-header-currency-item">
										<i class="obsidian-icon obsidian-icon-sm obsidian-icon-{{@key}}"></i>
										{{number-format this}}
									</div>
								{{/if}}
								{{/each}}
							</div>
							<i class="fas fa-angle-down"></i>
						</summary>
						{{> modules/obsidian/html/components/inventory.html flags.obsidian.contents}}
					</details>
				{{/each}}
			</div>
		</div>
	</div>
</div>
