<div class="obsidian-tab-contents tab" data-group="actions-tabs" data-tab="{{group}}">
	<h3>
		{{localize title}}
		<a title="{{localize 'OBSIDIAN.AddCustom'}}" class="obsidian-edit obsidian-add-feat"
		   data-active="{{active}}" data-action="{{action}}">
			{{localize 'OBSIDIAN.AddCustom'}}
		</a>
	</h3>
	<div class="obsidian-feature-list">
		{{#each (filter actor.obsidian.feats 'flags.obsidian.active' active 'flags.obsidian.action' action) as |feat|}}
			<div class="obsidian-feature item" data-item-id="{{feat.id}}">
				<div class="obsidian-feature-header">
					<div>
						<h4 class="rollable" data-roll="feat" data-feat="{{feat.id}}">{{feat.name}}</h4>
						{{#if feat.flags.obsidian.uses.enabled}}
							<div class="obsidian-feature-recharge">
								&bull;
								{{#if (eq feat.flags.obsidian.uses.recharge 'short')}}
									{{localize 'OBSIDIAN.ShortRest'}}
								{{else}}
									{{localize 'OBSIDIAN.LongRest'}}
								{{/if}}
							</div>
						{{/if}}
						<a title="{{localize 'OBSIDIAN.ViewFeature'}}" class="obsidian-view"
						   data-item-id="{{feat.id}}">
							<i class="fas fa-eye"></i>
						</a>
						<a title="{{localize 'OBSIDIAN.EditFeature'}}" class="obsidian-edit item-edit">
							<i class="fas fa-edit"></i>
						</a>
						<a title="{{localize 'OBSIDIAN.Delete'}}" class="obsidian-delete">
							<i class="fas fa-trash"></i>
						</a>
					</div>
					{{format-uses ../actor.items feat}}
				</div>
				<div class="obsidian-feature-body">{{{feat.flags.obsidian.display}}}</div>
			</div>
		{{/each}}
	</div>
</div>
