<form class="obsidian obsidian-form-bare" autocomplete="off" data-obsidian-name="notes">
	<div class="obsidian-rich-text">
		{{editor content=data.details.biography button=false editable=editable
		         target='data.details.biography'}}
	</div>
</form>
