<form class="obsidian obsidian-form-bare" autocomplete="off">
	<div class="obsidian-item-card">
		<div class="obsidian-item-card-header">
			<h3>{{item.name}}</h3>
			<div class="obsidian-item-card-sub-header">
				<div class="obsidian-table-note-text">
					{{~#if (eq item.flags.obsidian.source.type 'race')~}}
						{{~data.details.race~}}
					{{~else if (eq item.flags.obsidian.source.type 'feat')~}}
						{{~localize 'OBSIDIAN.Feat'~}}
					{{~else if (eq item.flags.obsidian.source.type 'other')~}}
						{{~item.flags.obsidian.source.other~}}
					{{~else if (eq item.flags.obsidian.source.type 'class')~}}
						{{~item.flags.obsidian.source.className~}}
					{{~/if~}}
				</div>
				{{#if item.flags.obsidian.uses.enabled}}
					<div class="obsidian-table-note-text">
						{{~#if (eq item.flags.obsidian.uses.recharge 'short')~}}
							{{~localize 'OBSIDIAN.ShortRest'~}}
						{{~else~}}
							{{~localize 'OBSIDIAN.LongRest'~}}
						{{~/if~}}
					</div>
				{{/if}}
			</div>
			{{#if item.flags.obsidian.uses.enabled}}
				<div class="obsidian-item-card-header-row">
					<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Uses'}}:</div>
					<div class="obsidian-item-card-header-value">
						{{{item.flags.obsidian.uses.display}}}
					</div>
				</div>
			{{/if}}
		</div>
		<div class="obsidian-item-card-body">{{{item.flags.obsidian.display}}}</div>
	</div>
</form>
