<form class="obsidian" autocomplete="off">
	<label>
		<input name="flags.obsidian.details.gender" type="text"
		       placeholder="{{localize 'OBSIDIAN.Gender'}}"
		       value="{{actor.flags.obsidian.details.gender}}">
	</label>
	<label>
		<input name="data.details.race" type="text" value="{{data.details.race}}"
		       placeholder="{{localize 'OBSIDIAN.Race'}}">
	</label>
	<label>
		<input name="flags.obsidian.details.subrace" type="text"
		       placeholder="{{localize 'OBSIDIAN.Subrace'}}"
		       value="{{actor.flags.obsidian.details.subrace}}">
	</label>
	<label class="obsidian-inline obsidian-label-lg">
		{{localize 'OBSIDIAN.Classes'}}
		<button type="button" class="obsidian-btn-positive obsidian-add-class obsidian-btn-sm">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each actor.obsidian.classes}}
		<div class="obsidian-class-row" data-item-id="{{id}}">
			<div class="obsidian-class-col-edit">
				<a class="obsidian-edit" title="{{localize 'OBSIDIAN.EditClass'}}">
					<i class="fas fa-edit"></i>
				</a>
			</div>
			<div class="obsidian-class-col-name">{{flags.obsidian.label}}</div>
			<div class="obsidian-class-col-subclass">
				<input class="obsidian-input-compact" placeholder="{{localize 'OBSIDIAN.Subclass'}}"
				       name="items.{{idx}}.data.subclass" value="{{data.subclass}}" type="text">
			</div>
			<div class="obsidian-class-col-level">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       name="items.{{idx}}.data.levels" value="{{data.levels}}"
				       data-dtype="Number">
			</div>
			<div class="obsidian-class-col-hd">d{{flags.obsidian.hd}}</div>
			<div class="obsidian-class-col-rm">
				<button type="button" class="obsidian-btn-negative obsidian-rm-class obsidian-btn-sm">
					{{localize 'OBSIDIAN.Remove'}}
				</button>
			</div>
		</div>
	{{/each}}
</form>
