<form class="obsidian obsidian-form-bare" autocomplete="off">
	<div class="obsidian-form-row">
		<label class="obsidian-inline">
			<input type="text" name="data.attributes.hp.max" value="{{data.attributes.hp.max}}"
			       class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
			       data-dtype="Number">
			<span>{{localize 'OBSIDIAN.MaxHP'}}</span>
		</label>
	</div>
	<div class="obsidian-form-row">
		<label class="obsidian-inline">
			<input type="text" name="flags.obsidian.attributes.hpMaxMod"
			       value="{{actor.flags.obsidian.attributes.hpMaxMod}}" data-dtype="Number"
			       class="obsidian-input-compact obsidian-input-num obsidian-input-num-md">
			<span>{{localize 'OBSIDIAN.MaxHPModifier'}}</span>
		</label>
	</div>
</form>
