<form class="obsidian" autocomplete="off">
	<label class="obsidian-inline obsidian-label-lg">
		{{localize 'OBSIDIAN.Armour'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-prof"
		        data-cat="armour">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each actor.flags.obsidian.traits.profs.custom.armour as |armour id|}}
		<div class="obsidian-form-row obsidian-stacked-form-row obsidian-inline" data-cat="armour"
		     data-item-id="{{id}}">
			<input class="obsidian-input-compact obsidian-input-lg" type="text" value="{{armour}}">
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-prof">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
	<label class="obsidian-inline obsidian-label-lg obsidian-stacked-row">
		{{localize 'OBSIDIAN.Weapons'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-prof"
		        data-cat="weapons">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each actor.flags.obsidian.traits.profs.custom.weapons as |weapon id|}}
		<div class="obsidian-form-row obsidian-stacked-form-row obsidian-inline" data-cat="weapons"
		     data-item-id="{{id}}">
			<input class="obsidian-input-compact obsidian-input-lg" type="text" value="{{weapon}}">
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-prof">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
	<label class="obsidian-inline obsidian-label-lg obsidian-stacked-row">
		{{localize 'OBSIDIAN.Languages'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-prof"
		        data-cat="langs">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each actor.flags.obsidian.traits.profs.custom.langs as |language id|}}
		<div class="obsidian-form-row obsidian-stacked-form-row obsidian-inline" data-cat="langs"
		     data-item-id="{{id}}">
			<input class="obsidian-input-compact obsidian-input-lg" type="text" value="{{language}}">
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-prof">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
</form>
