<form class="obsidian obsidian-form-bare" autocomplete="off">
	<div class="obsidian-item-card">
		<div class="obsidian-item-card-header">
			<h3>{{item.name}}</h3>
			<div class="obsidian-item-card-sub-header">
				<div class="obsidian-table-note-text">
					{{~i18n-join 'OBSIDIAN.WeaponCat-' item.flags.obsidian.category~}}
				</div>
				{{#each item.flags.obsidian.tags}}
					{{~#if (eq @key 'custom')~}}
						{{#each this}}
							<div class="obsidian-table-note-text">{{this}}</div>
						{{/each}}
					{{~else if this~}}
						<div class="obsidian-table-note-text">{{{i18n-join 'OBSIDIAN.AtkTag-' @key}}}</div>
					{{~/if~}}
				{{/each}}
			</div>
			{{#if item.flags.obsidian.charges.enabled}}
				<div class="obsidian-item-card-header-row">
					<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Charges'}}:</div>
					<div class="obsidian-item-card-header-value">
						{{{item.flags.obsidian.charges.display}}}
					</div>
				</div>
			{{/if}}
			{{#each item.flags.obsidian.special}}
				<div class="obsidian-item-card-header-row">
					<div class="obsidian-item-card-header-key">{{name}}:</div>
					<div class="obsidian-item-card-header-value">{{{display}}}</div>
				</div>
			{{/each}}
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Damage'}}:</div>
				<div class="obsidian-item-card-header-value">
					{{#each item.flags.obsidian.dmgPair}}
						<div class="obsidian-icon-value">
							{{fst}} {{#if snd}}({{snd}}){{/if}}
							<div class="obsidian-icon-sm obsidian-icon-{{type}}"
							     title="{{i18n-join 'OBSIDIAN.Damage-' type}}"></div>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Weight'}}:</div>
				<div class="obsidian-item-card-header-value">
					{{item.data.weight}}
					<span class="obsidian-table-unit">{{localize 'OBSIDIAN.PoundsAbbr'}}</span>
				</div>
			</div>
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Cost'}}:</div>
				<div class="obsidian-item-card-header-value obsidian-icon-value">
					{{number-format item.data.price}}
					<i class="obsidian-icon-sm obsidian-icon-gp"></i>
				</div>
			</div>
		</div>
		<div class="obsidian-item-card-body">{{{item.data.description.value}}}</div>
	</div>
</form>
