<fieldset {{disabled (not enabled)}}>
	<legend>
		{{fancy-checkbox 'flags.obsidian.charges.enabled' content='OBSIDIAN.Charges' checked=enabled}}
	</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       name="flags.obsidian.charges.max" placeholder="0" data-dtype="Number" value="{{max}}">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Recharges'}}
				<select name="flags.obsidian.charges.recharge" data-selector="recharge">
					{{#select recharge}}
						{{#each ObsidianRules.ITEM_RECHARGE}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.Recharge-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
			<select name="flags.obsidian.charges.rechargeType" data-selector-parent="recharge"
			        data-hide="never" data-selector="recharge-type">
				{{#select rechargeType}}
					<option value="all">{{localize 'OBSIDIAN.All'}}</option>
					<option value="formula">{{localize 'OBSIDIAN.Formula'}}</option>
				{{/select}}
			</select>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       name="flags.obsidian.charges.ndice" placeholder="0" data-dtype="Number"
			       value="{{ndice}}" data-selector-parent="recharge-type" data-show="formula">
			<select name="flags.obsidian.charges.die" data-selector-parent="recharge-type"
			        data-show="formula" data-dtype="Number">
				{{#select die}}
					{{#each ObsidianRules.ITEM_CHARGE_DICE}}
						<option value="{{this}}">d{{this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator" data-selector-parent="recharge-type"
			      data-show="formula">
				&plus;
			</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       name="flags.obsidian.charges.bonus" placeholder="0" data-dtype="Number"
			       value="{{bonus}}" data-selector-parent="recharge-type" data-show="formula">
		</div>
	</div>
</fieldset>
