{{#each dmgs as |dmg id|}}
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline" data-item-id="{{id}}">
		<div>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" value="{{dmg.ndice}}"
			       name="flags.obsidian.{{../prop}}.{{id}}.ndice">
			<select name="flags.obsidian.{{../prop}}.{{id}}.die" data-dtype="Number">
				{{#select dmg.die}}
					{{#each ../ObsidianRules.DAMAGE_DICE}}
						<option value="{{this}}">d{{this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<select name="flags.obsidian.{{../prop}}.{{id}}.stat" style="text-transform: uppercase;">
				{{#select dmg.stat}}
					<option value="">&mdash;</option>
					{{#if ../spell}}
						<option value="spell">{{localize 'OBSIDIAN.SpellAbbr'}}</option>
					{{/if}}
					{{#each ../ObsidianRules.ABILITIES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.AbilityAbbr-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<input name="flags.obsidian.{{../prop}}.{{id}}.bonus"
			       data-dtype="Number" placeholder="0" type="text" value="{{dmg.bonus}}"
			       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
			<select name="flags.obsidian.{{../prop}}.{{id}}.type">
				{{#select dmg.type}}
					<option value="">&mdash;</option>
					{{#each ../ObsidianRules.DAMAGE_TYPES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Damage-' this}}</option>
					{{/each}}
					{{#if (or ../spell ../consumable ../feature)}}
						<option value="hlg">{{localize 'OBSIDIAN.Healing'}}</option>
					{{/if}}
				{{/select}}
			</select>
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.CritDice'}}
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       placeholder="1" name="flags.obsidian.{{../prop}}.{{id}}.ncrit" value="{{dmg.ncrit}}">
			</label>
		</div>
		<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-damage">
			{{localize 'OBSIDIAN.Remove'}}
		</button>
	</div>
{{/each}}
<div class="obsidian-form-row obsidian-btn-row" style="justify-content: flex-end;">
	<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-damage">
		{{localize 'OBSIDIAN.Add'}}
	</button>
</div>
