<fieldset {{disabled (not enabled)}}>
	<legend>
		{{fancy-checkbox 'flags.obsidian.dc.enabled' content='OBSIDIAN.DC' checked=enabled}}
	</legend>
	{{#if (or (not spell) (and spell actor))}}
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<input type="text" name="flags.obsidian.dc.bonus" placeholder="8" value="{{bonus}}"
			       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
			<span class="obsidian-binary-operator">&plus;</span>
			<select name="flags.obsidian.dc.prof" data-dtype="Number">
				{{#select prof}}
					<option value="">&mdash;</option>
					{{#each ObsidianRules.PLUS_PROF}}
						<option value="{{@key}}">{{i18n-join 'OBSIDIAN.PlusProf-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<select name="flags.obsidian.dc.ability">
				{{#select ability}}
					<option value="">&mdash;</option>
					{{#if spell}}
						<option value="spell">{{localize 'OBSIDIAN.Spell'}}</option>
					{{/if}}
					{{#each ObsidianRules.ABILITIES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<label>
				<input type="text" name="flags.obsidian.dc.fixed" value="{{fixed}}"
				       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
				<span>{{localize 'OBSIDIAN.Fixed'}}</span>
			</label>
		</div>
	</div>
	{{/if}}
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Target'}}
				<select name="flags.obsidian.dc.target">
					{{#select target}}
						{{#each ObsidianRules.ABILITIES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
			<input type="text" name="flags.obsidian.dc.effect" value="{{effect}}"
			       class="obsidian-input-compact obsidian-input-lg"
			       placeholder="{{localize 'OBSIDIAN.Effect'}}">
		</div>
	</div>
</fieldset>
