<fieldset {{disabled (not enabled)}}>
	<legend>
		{{fancy-checkbox 'flags.obsidian.hit.enabled' content='OBSIDIAN.Hit' checked=enabled}}
	</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth obsidian-checkbox-row">
		{{#if (or spell consumable feature)}}
			<select name="flags.obsidian.hit.attack" data-selector="attack-type">
				{{#select attack}}
					<option value="melee">{{localize 'OBSIDIAN.AttackType-melee'}}</option>
					<option value="ranged">{{localize 'OBSIDIAN.AttackType-ranged'}}</option>
					{{#if spell}}
						<option value="unerring">{{localize 'OBSIDIAN.AttackType-unerring'}}</option>
					{{/if}}
				{{/select}}
			</select>
			{{#if spell}}
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       name="flags.obsidian.hit.n" placeholder="1" value="{{n}}">
					<span>{{localize 'OBSIDIAN.Count'}}</span>
				</label>
			{{/if}}
			{{#if feature}}
				<select name="flags.obsidian.hit.type">
					{{#select type}}
						<option value="weapon">{{localize 'OBSIDIAN.Weapon'}}</option>
						<option value="spell">{{localize 'OBSIDIAN.Spell'}}</option>
					{{/select}}
				</select>
			{{/if}}
		{{/if}}
		{{#if (or (not spell) (and spell actor))}}
			<select name="flags.obsidian.hit.stat">
				{{#select stat}}
					{{#if spell}}<option value="spell">{{localize 'OBSIDIAN.Spell'}}</option>{{/if}}
					{{#each ObsidianRules.ABILITIES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" name="flags.obsidian.hit.bonus" placeholder="0" value="{{bonus}}">
			<label class="obsidian-inline">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       name="flags.obsidian.hit.crit" placeholder="20" value="{{crit}}">
				<span>{{localize 'OBSIDIAN.Crit'}}</span>
			</label>
			{{#unless spell}}
				{{fancy-checkbox 'flags.obsidian.hit.proficient' content='OBSIDIAN.Proficiency-prof'
				                 checked=proficient}}
			{{/unless}}
		{{/if}}
		</div>
	</div>
</fieldset>
