{{#each this}}
	<div class="obsidian-tr item" data-item-id="{{id}}" data-reorderable="true" data-name="{{name}}"
	     draggable="true"
	     {{#if flags.obsidian.magical}}data-filter-magical="true" {{/if}}
	     {{#if (eq type 'weapon')}}data-filter-weapon="true" {{/if}}
	     {{#if (eq flags.obsidian.subtype 'armour')}}data-filter-armour="true" {{/if}}
	     {{#if (eq type 'consumable')}}data-filter-consumable="true"{{/if}}>
		<div class="obsidian-col-action">
			{{#if flags.obsidian.equippable}}
				<button type="button" class="{{#if data.equipped}}obsidian-btn-active{{/if}}
				        obsidian-btn-outline obsidian-equip-action">
					{{#if data.equipped}}
						{{localize 'OBSIDIAN.Unequip'}}
					{{else}}
						{{localize 'OBSIDIAN.Equip'}}
					{{/if}}
				</button>
			{{else if flags.obsidian.consumable}}
				<button type="button" class="obsidian-btn-outline obsidian-equip-action">
					{{localize 'OBSIDIAN.Use'}}
				</button>
			{{else}}
				&mdash;
			{{/if}}
		</div>
		<div class="obsidian-col-inv-item">
			<div class="obsidian-table-text">{{name}}</div>
			<div class="obsidian-table-sub-text">
				{{#if (eq type 'weapon')}}
					{{#if (eq flags.obsidian.type 'melee')}}
						{{localize 'OBSIDIAN.MeleeWeapon'}}
					{{else if (eq flags.obsidian.type 'ranged')}}
						{{localize 'OBSIDIAN.RangedWeapon'}}
					{{/if}}
				{{else if (eq type 'equipment')}}
					{{#if (eq flags.obsidian.subtype 'armour')}}
						{{i18n-join 'OBSIDIAN.ArmourTypeFull-' data.armor.type}}
					{{/if}}
				{{else if (eq type 'consumable')}}
					{{i18n-join 'OBSIDIAN.ConsumableType-' flags.obsidian.subtype}}
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-weight">
			<div class="obsidian-table-number-{{num-size data.weight}}">
				{{#if data.weight}}
					{{data.weight}}
					<span class="obsidian-table-unit">{{localize 'OBSIDIAN.PoundsAbbr'}}</span>
				{{else}}
					&mdash;
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-qty">
			<input type="text" class="obsidian-table-input" data-name="items.{{idx}}.data.quantity"
			       data-dtype="Number" placeholder="1" value="{{data.quantity}}">
		</div>
		<div class="obsidian-col-cost">
			<div class="obsidian-table-number-{{num-size data.price}}">
				{{#if data.price}}
					{{number-format data.price}}
				{{else}}
					&mdash;
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-type">
			<div class="obsidian-icon obsidian-icon-
				{{~#if (eq type 'equipment')~}}
					{{~flags.obsidian.subtype~}}
				{{~else~}}
					{{~type~}}
				{{~/if~}}
			" title="
				{{~#if (eq type 'equipment')~}}
					{{i18n-join 'OBSIDIAN.ItemType-' flags.obsidian.subtype}}
				{{~else~}}
					{{i18n-join 'OBSIDIAN.ItemType-' type}}
				{{~/if~}}
			"></div>
		</div>
		<div class="obsidian-col-notes">
			{{#if (eq type 'weapon')}}
				{{> modules/obsidian/html/components/weapon-notes.html category=true}}
			{{else if (or (eq type 'equipment') (eq type 'consumable'))}}
				{{#each flags.obsidian.notes}}
					<div class="obsidian-table-note-text">{{{this}}}</div>
				{{/each}}
			{{/if}}
		</div>
	</div>
{{/each}}
