<div class="obsidian-item-card">
	<div class="obsidian-item-card-header">
		<h3>
			{{#if (eq data.level 0)}}
				{{i18n-join 'OBSIDIAN.SpellSchool-' data.school}}
				{{spell-level-format data.level cantrip=true}}
			{{else}}
				{{spell-level-format data.level level=true}}
				{{i18n-join 'OBSIDIAN.SpellSchool-' data.school}}
			{{/if}}
			{{#if data.components.ritual}}
				({{localize 'OBSIDIAN.RitualLC'}})
			{{/if}}
		</h3>
		<div class="obsidian-item-card-header-row">
			<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.CastTime'}}:</div>
			<div class="obsidian-item-card-header-value">
				{{flags.obsidian.time.n}}
				{{lc (i18n-join 'OBSIDIAN.CastTime-' flags.obsidian.time.type)}}
				{{~#if (eq flags.obsidian.time.type 'react')~}}
					, {{flags.obsidian.time.react}}
				{{/if}}
			</div>
		</div>
		<div class="obsidian-item-card-header-row">
			<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Range'}}:</div>
			<div class="obsidian-item-card-header-value">
				{{#if (or (eq flags.obsidian.range.type 'short') (eq flags.obsidian.range.type 'long'))}}
					{{flags.obsidian.range.n}}
					<span class="obsidian-table-unit">
						{{i18n-join 'OBSIDIAN.SpellRangeAbbr-' flags.obsidian.range.type}}
					</span>
				{{else}}
					{{i18n-join 'OBSIDIAN.SpellRange-' flags.obsidian.range.type}}
				{{/if}}
			</div>
		</div>
		<div class="obsidian-item-card-header-row">
			<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Components'}}:</div>
			<div class="obsidian-item-card-header-value">
				{{flags.obsidian.components.display}}
				{{#if flags.obsidian.components.m}}
					<span class="obsidian-table-sub-text">({{data.materials.value}})</span>
				{{/if}}
			</div>
		</div>
		<div class="obsidian-item-card-header-row">
			<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Duration'}}:</div>
			<div class="obsidian-item-card-header-value">
				{{#if data.components.concentration}}
					{{localize 'OBSIDIAN.Concentration'}},
					{{localize 'OBSIDIAN.UpTo'}} {{format-spell-duration this}}
				{{else}}
					{{format-spell-duration this}}
				{{/if}}
			</div>
		</div>
		{{#if (and view flags.obsidian.uses.enabled)}}
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Uses'}}:</div>
				<div class="obsidian-item-card-header-value">{{{flags.obsidian.uses.display}}}</div>
			</div>
		{{/if}}
	</div>
	<div class="obsidian-item-card-body">{{{data.description.value}}}</div>
</div>
