<fieldset {{disabled (not enabled)}}>
	<legend>
		{{fancy-checkbox 'flags.obsidian.uses.enabled' content='OBSIDIAN.Uses' checked=enabled}}
	</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<select name="flags.obsidian.uses.limit" data-selector="limit">
				{{#select limit}}
					<option value="unlimited">{{localize 'OBSIDIAN.Unlimited'}}</option>
					<option value="limited">{{localize 'OBSIDIAN.Limited'}}</option>
				{{/select}}
			</select>
			<select name="flags.obsidian.uses.ability" data-selector-parent="limit" data-show="limited">
				{{#select ability}}
					<option value="">&mdash;</option>
					{{#if spell}}<option value="spell">{{localize 'OBSIDIAN.Spell'}}</option>{{/if}}
					{{#each ObsidianRules.ABILITIES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator" data-selector-parent="limit" data-show="limited">
				&plus;
			</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       name="flags.obsidian.uses.bonus" placeholder="0" data-dtype="Number" value="{{bonus}}"
			       data-selector-parent="limit" data-show="limited">
		</div>
	</div>
</fieldset>
