{{#if flags.obsidian.charges.enabled}}
	<div class="obsidian-table-note-text">
		<div class="obsidian-table-note-flex">
			{{~localize 'OBSIDIAN.Charges'}}: {{{flags.obsidian.charges.display}}}</div>
	</div>
{{/if}}
{{#each flags.obsidian.special}}
	<div class="obsidian-table-note-text">{{name}}: {{{display}}}</div>
{{/each}}
{{#if category}}
	<div class="obsidian-table-note-text">
		{{~i18n-join 'OBSIDIAN.WeaponCat-' flags.obsidian.category~}}
	</div>
{{/if}}
{{#each flags.obsidian.tags}}
	{{~#if (eq @key 'custom')~}}
		{{#each this}}
			<div class="obsidian-table-note-text">{{this}}</div>
		{{/each}}
	{{~else~}}
		{{~#if (and this (eq @key 'ammunition'))~}}
			<div class="obsidian-table-note-text">{{{../flags.obsidian.ammo.display}}}</div>
		{{~else if this~}}
			<div class="obsidian-table-note-text">{{{i18n-join 'OBSIDIAN.AtkTag-' @key}}}</div>
		{{~/if~}}
	{{~/if~}}
{{/each}}
